<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top p-2" width='100%' height='auto'[src] = 'productItem.imageUrl'>
<div class="card-body">
    <p class="card-text">
      <strong> {{productItem.price | currency}} </strong>
      <i *ngIf = "addedToWishlist" class="fa fa-heart float-right added" (click) = "removeProductFromWishlist()"></i>
      <i *ngIf = "!addedToWishlist" class="fa fa-heart float-right" (click) = "addProductToWishlist()"></i>
    </p>
    <p class="card-text my-font">
        {{productItem.title}}
    </p>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <button  type='button' class="btn btn-sm btn-outline-primary mr-2" (click) = 'addToCart()'>Add to Cart</button>
            <button type='button' class="btn btn-sm btn-outline-secondary">Details</button>
        </div>    
    </div>
</div>
</div>
