<div *ngIf= 'cartItems.length === 0' class="alert alert-info">Your cart is empty</div>

<div *ngIf = 'cartItems.length > 0' class="list-group">
    <h3 style='text-align: center'> My Cart</h3>
    <ul>
        <li class="list-group-item" *ngFor="let item of cartItems">
            <app-cart-item [cartItem] = 'item' (deleteCartItem)='deleteCartItem($event)'></app-cart-item>
        </li>
        <li class="list-group-item active">
            <strong>Total: {{cartTotal | currency}}</strong>
            <span>
                <button class="btn btn-info btn-sm ml-3 mb-4 float-right"> Checkout<i class="fa fa-shopping-cart" aria-hidden="true"></i> </button>
            </span>
        </li>
    </ul> 
</div>
